{% extends 'PPMemberClub/base.html' %}

{% block content %}

    <div class="card">


        <div class="card-body">

            <i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;

    
            <hr> 

            <p> <strong> ID: </strong> {{record.id}} </p>
            <p> <strong> Address: </strong> {{record.Address}} </p>
            <p> <strong> Country: </strong> {{record.Country}} </p>
            <p> <strong> City: </strong> {{record.City}} </p>
            <p> <strong> Postalcode: </strong> {{record.Postalcode}} </p>
            <p> <strong> Addresstype: </strong> {{record.Addresstype}} </p>
            <p> <strong> Additionalinfo: </strong> {{record.Additionalinfo}} </p>


        </div>


    </div>

    <br>

    <a href="{% url 'dashboard' %}" class="btn btn-secondary"> Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i> </a>


{% endblock %}